<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List of users</title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <button class="btnLogout" style="border-radius: 10px 10px 10px 10px; border-color: #a19898" type="submit">Logout</button>
        </form>
        <table class="table table-striped table-hover" width="100%" style="border-radius: 10px 10px 10px 10px; border-color: #a19898" align="center">
            <thead style="border-radius: 10px 10px 10px 10px; border-color: #a19898">
                <tr style="border-radius: 10px 10px 10px 10px; border-color: #a19898">
                    <th><p align="center">ID</p></th>
                    <th><p align="center">Name</p></th>
                    <th><p align="center">Surname</p></th>
                    <th><p align="center">Username</p></th>
                    <th><p align="center">Role</p></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="user : ${users}">
                    <tr class="rowTable3">
                        <td th:text="${user.id}" align="center"></td>
                        <td th:text="${user.name}" align="center"></td>
                        <td th:text="${user.surname}" align="center"></td>
                        <td th:text="${user.username}" align="center"></td>
                        <td th:text="${user.getRolesToString()}" align="center"></td>
                        <form th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                            <td><input type="submit" value="Edit" style="border-radius: 10px 10px 10px 10px; border-color: #a19898"></td>
                        </form>
                        <form th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                            <td><input type="submit" value="Delete" style="border-radius: 10px 10px 10px 10px; border-color: #a19898"></td>
                        </form>
                    </tr>
                </th:block>
            </tbody>
            <form th:action="@{/admin/create}">
                <td><input type="submit" value="Add new user" style="border-radius: 10px 10px 10px 10px; border-color: #a19898"></td>
            </form>
            <form th:action="@{/user/user_info}">
                <td><input type="submit" value="Information about me" style="border-radius: 10px 10px 10px 10px; border-color: #a19898"></td>
            </form>
        </table>
    </body>
</html>


